body{
  font-family:Arial,Helvetica,san-serif;
}

#promo{
  text-align:center;
  padding:40px;
  background:url(../../assets/img/building-1590596_960_720.jpg) no-repeat;
  background-size:cover;
  margin-top:60px;
}

@media (max-width:991px) {
  #promo{
    padding:20px;
  }
}

div.jumbotron{
  border-radius:20px;
  padding:40px;
  background-color:rgba(255,255,255,0.75);
  max-width:800px;
  margin:auto;
}

@media (max-width:991px) {
  div.jumbotron{
    padding:20px;
  }
}

h1.text-center{
  font-weight:bold;
  font-family:sans-serif;
  padding-left:30px;
}

@media (max-width:991px) {
  h1.text-center{
    font-weight:bold;
    font-family:sans-serif;
    padding-left:30px;
  }
}

@media (max-width:767px) {
  .jumbotron p{
    text-align:left;
    margin-top:20px;
    font-size:21px;
  }
}

#smartphone{
  color:#f77f00;
  font-size:30px;
  font-weight:bold;
}

@media (max-width:767px) {
  #smartphone{
    color:#f77f00;
    font-size:30px;
    font-weight:bold;
  }
}

.site-section{
  text-align:center;
  padding-bottom:50px;
}

#welcome h1{
  font-size:75px;
  font-weight:normal;
  margin-bottom:30px;
}

#welcome h1{
  font-size:60px;
  font-weight:normal;
  margin-bottom:30px;
  text-align:center;
}

#welcome p{
  max-width:800px;
  margin:0 auto;
  font-size:30px;
  font-weight:normal;
  color:#666;
}

#why .item i{
  font-size:50px;
  margin-top:36px;
  color:rgb(6,133,204);
}

#why h2{
  font-weight:normal;
  margin-top:13px;
  margin-bottom:20px;
  font-size:24px;
}

#why h1{
  font-weight:normal;
  margin-top:40px;
  margin-bottom:40px;
}

div.dark-section{
  background-color:rgb(229,232,248);
}

#logo{
  max-height:42px;
  margin-right:10px;
  margin-top:-3px;
  display:inline-block;
}

strong{
  color:#42a2d8;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus{
  background-color:rgb(255,168,0);
  border-color:transparent;
}

#why .item p{
  color:#6f767a;
}

img#logoFooter{
  max-height:40px;
  padding:0px;
  margin-top:-13px;
  margin-right:10px;
  display:inline-block;
}

@media (max-width:1199px) {
  div#location{
    margin-top:-10px;
  }
}

div#welcome.container img{
  height:300px;
  width:100%;
  display:inline-block;
}


.register-form form.custom-form{
  border:0px;
  background:rgba(0,0,0,0.5);
  color:#FFFFFF;
  text-align:center;
  padding-top:70px;
  position:relative;
  transition:1s;
  
}

.background-image{
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  margin-top:50px;
  width: auto;
  height: 100%;
  background-image:url('../../assets/img/queue.jpg');
  background-repeat:no-repeat;
  background-size: cover;
  -webkit-filter: blur(4px);
  z-index: -1;
}
/*------------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
  position: relative;
}

.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  max-width: 70%;
  background-color: white;
  border: 1px solid #000000;
  border-radius: 13px;
  padding: 4px 20px 4px 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 5px;
  pointer-events: none;

  font-family: Poppins-Medium;
  color: #000000;
  font-size: 13px;
  line-height: 1.4;
  text-align: left;

  visibility: hidden;
  opacity: 0;

  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.alert-validate::after {
  content: "\f06a";
  font-family: FontAwesome;
  display: block;
  position: absolute;
  color: #FF0000;
  font-size: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 20px;
}

.alert-validate:hover:before {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 992px) {
  .alert-validate::before {
    visibility: visible;
    opacity: 1;
  }
  }
